<footer class="site-footer">
  {% if site.github.is_project_page %}
    <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
  {% endif %}
  <span class="site-footer-credits">Know more about me on <a href="https://www.linkedin.com/in/paultay-jb/" target="_blank">LinkedIn</a> | <a href="https://twitter.com/elepaul" target="_blank">Twitter</a>.</span>
</footer>
